[Unit]
Description=SIM7600 Modem Setup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/walle/waveshare_start.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
