[Unit]
Description=Start Robot Web App
After=network-online.target gpsd.service

[Service]
Type=simple
WorkingDirectory=/home/pi5-walle/WALL-E/web_app
ExecStart=/home/pi5-walle/WALL-E/web_app/app.py
Restart=on-failure
User=pi5-walle

[Install]
WantedBy=multi-user.target
