[Unit]
Description=Start Robot Web App
After=network-online.target gpsd.service

[Service]
Type=simple
WorkingDirectory=/home/walle/WALL-E/web_app
ExecStart=/home/walle/WALL-E/web_app/app.py
Restart=on-failure
RestartSec=5
User=walle

[Install]
WantedBy=multi-user.target
