[Unit]
Description=Start ROS Docker Robot Stack
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
ExecStart=/home/walle/WALL-E/start_docker.sh -r -B -q
WorkingDirectory=/home/walle
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=walle
Environment=DISPLAY=:0
Environment=HOME=/home/walle
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=DOCKER_HOST=unix:///var/run/docker.sock
Group=docker
TTY=tty
StandardInput=null

[Install]
WantedBy=multi-user.target
