[Unit]
Description=Start Waveshare-CM Tool as root
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/waveshare-CM
Type=simple
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
