<launch>
    <!-- SLAMTEC Mapper SDK Node -->
    <node name="slamware_sdk_server" pkg="slamware_ros_sdk" type="slamware_ros_sdk_server_node" output="screen">
        <!-- You can set the IP address of the M2M2 if it's on Ethernet/WiFi -->
        <param name="slamware_ip_address" value="192.168.11.1"/>

        <!-- Optionally remap goal input -->
        <remap from="move_base_simple/goal" to="/move_base_simple/goal"/>
    </node>

    <!-- Web Map Image Publisher Node -->
    <node name="map_img_publisher" pkg="web_app" type="map_img_node.py" output="screen">
    </node>

    <!-- TF tree sanity check -->
    <param name="use_sim_time" value="false"/>
</launch>
