<?xml version="1.0"?>
<launch>
    <!-- Launch the USB camera node -->
    <!-- <node name="usb_cam_node" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video0" />
    </node> -->

    <!-- Launch the motor control node -->
    <node name="motor_control_node" pkg="motor_control" type="motor_control_node.py" output="screen">
        <!-- Add any necessary parameters for motor_control_node here -->
    </node>

    <!-- Launch mapper -->
    <!-- Launch mapper -->
    <include file="$(find control)/launch/mapping.launch" />

    <!-- Launch the teleop node -->
    <include file="$(find control)/launch/teleop.launch" />
</launch>